body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-navy {
  color: navy !important;
}

.bg-navy {
  background-color: navy;
}

.bg-skyBlue {
  background-color: skyblue;
}
.text-align-justify {
  text-align: justify;
}
.w-90 {
  width: 90% !important;
}
.bg-blue-500 {
  background-color: #edf1fc;
}

.single-doctor {
  margin-bottom: 80px;
}
